{
  "development": {
    "username": "{{ db_user }}",
    "password": "{{ db_password }}",
    "database": "{{ db_name }}",
    "host": "{{ rds_endpoint }}",
    "dialect": "mysql"
  },
  "production": {
    "username": "{{ db_user }}",
    "password": "{{ db_password }}",
    "database": "{{ db_name }}",
    "host": "{{ rds_endpoint }}",
    "dialect": "mysql"
  }
}
